{% extends 'accounts/base.html' %}

{% block title %} Veryfy|Page {% endblock %}


{% block body %}

<div class="registration-form" style="text-align: center;">
    <form method="post">
        {% csrf_token %}

        <div class="form-icon">
            <span><i class="icon icon-user"></i></span>
        </div>

        <div class="input-group mb-3 mt-3">
            <span class="input-group-text" id="inputGroup-sizing-default" style="border-radius: 0px;">Password</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" name="new_password1">
        </div>
        <div class="input-group mb-3 mt-3">
            <span class="input-group-text" id="inputGroup-sizing-default" style="border-radius: 0px;">ConfirmPassword</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" name="new_password2">
        </div>
        
        <p>Enter the new password</p>

        <input type="submit" class="btn btn-primary w-100" value="Next">

    </form>
    <div class="social-media">
        <h5>Subscribe Chanel Youtube :) </h5>
    </div>
</div>

{% endblock %}